{% extends 'login/base.html' %}

{% block content %}

<h3 class="text-red-500">LOGIN</h3>

<br>

<form class="scale-x-100 text-base px-8" action="" method="post">
    {% csrf_token %}

    <input class="rounded-lg p-2 mt-6" type="text" name="username" id="" placeholder="Nombre de Usuario">
    <br>
    <input class="rounded-lg p-2 mt-6" type="password" name="password" id="" placeholder="Contraseña">
    <br>
    <button class="bg-red-500 text-white p-2 mt-6 rounded-lg" type="submit">Iniciar Sesión</button>
</form>

{% endblock %}