<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Aplicación</title>
</head>
<body class="bg-zinc-900 font-mono text-white">
    <ul class="flex flex-row flex justify-center text-center m-8">
        <li class="bg-yellow-400 text-zinc-900 p-2 rounded-lg basis-1/4 mx-8"><a href={% url 'home' %}>Inicio</a></li>
        <li class="bg-yellow-400 text-zinc-900 p-2 rounded-lg basis-1/4 text-center mx-8"><a href={% url 'products' %}>Productos</a></li>
        {% if request.user.is_authenticated %}
            <li class="bg-yellow-400 text-zinc-900 p-2 rounded-lg basis-1/4 text-center mx-8"><a href={% url 'exit' %}>Salir</a></li>
        {% else %}
            <li class="bg-yellow-400 text-zinc-900 p-2 rounded-lg basis-1/4 text-center mx-8"><a href={% url 'login' %}>Ingresar</a></li>
        {% endif %}
    </ul>

    {% block content %}{% endblock %}

</body>
</html>