<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Aplicación</title>
</head>
<body class="font-sans bg-gray-200">
    
    <h2 class="prose ">Inicio</h2>
    <ul>
        <li><a href={% url 'home' %}>Inicio</a></li>
        <li><a href={% url 'products' %}>Productos</a></li>

        {% if request.user.is_authenticated %}
            <li><a href={% url 'exit' %}>Salir</a></li>
        {% else %}
            <li><a href={% url 'login' %}>Ingresar</a></li>
        {% endif %}
    </ul>

    {% block content %}{% endblock %}

</body>
</html>